<html>

<head>
  <link rel="stylesheet" href="css/main.css" />
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/get-data.js"></script>
</head>

<body>
  <p align="center">
    <img src="images/cng.png" height="48" width="48" />
    All user data are showed below:<br>
  </p>

  <p align="center">
  <table id="users">
    <thead>
      Users <br>
      <tr>
        <th>first name</th>
        <th>last name</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </p>
</body>

</html>